---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Who Can Benefit from This Tool?",
    description:
      "This subnet calculator is designed to assist developers, DevOps engineers, network engineers, IT professionals, Cloud Architects, and software engineers in configuring their cloud networks. It's also readily available for anyone who needs to perform subnet calculations.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Why this tool is different to the others?",
    description:
      "Created by a Network Cloud Engineer with over 15 years of experience. This tool is designed based on classic networking fundamentals, although the output has been adapted for compatibility with some public cloud providers.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "How Does It Work?",
    description:
      "I guess that it is self-explained but let me goTo utilize an IP subnet calculator, I simply input the network address and subnet mask. The calculator then outputs relevant subnet information such as the usable IP address range, number of subnets, number of hosts per subnet, network address, broadcast address, subnet mask, wildcard mask, and IPv4 APR domain.",
    icon: "bx:bxs-data",
  },
  {
    title: "Can it be effectively used as a cloud networking calculator?",
    description:
      "Yes, this calculator can be used in cloud environments. The networking concepts and subnetting principles generally apply. However, you need to consider some reserved IP addresses that may differ in cloud environments.",
    icon: "bx:bxs-bot",
  },
  {
    title: "What is the formula to calculate the subnet mask?",
    description:
      "To calculate the subnet mask, you need to determine the number of bits required for the network portion and the remaining bits for the host portion. The formula to calculate the subnet mask is 2^n - 1, where n is the number of bits in the network portion. For example, if you have 3 bits for the network portion, the formula would be 2^3 - 1 = 7, which means the subnet mask would be 255.255.255.248.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Why are some values in the output shown in binary?",
    description:
      "Subnetting is fundamentally rooted in binary. Displaying the binary representation of IP addresses and subnet masks helps you visualize how subnets are represented in the way computers store and process information using binary code (1s and 0s).",
    icon: "bx:bxs-user",
  },
];
---
<br><br><br>
<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start IP subnetting for your work.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
This subnet calculator tool empowers you to easily obtain subnet addresses and the number of available hosts within a given network. Created by a network engineer, this tool simplifies the subnetting process, making it more accessible for network engineers, students, and anyone who needs to perform subnetting calculations. </br> </br>
Subnetting is the crucial process of dividing a network into smaller subnetworks, or subnets, to enhance network performance, improve security, and efficiently manage network resources. This tool provides a valuable resource for anyone learning or working with networks.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
