---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import SubnetCalculator from "@components/SubnetCalculator.astro";
---

<main
  class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 md:pt-12 md:pb-2">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Subnet Calculator
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
    Free Online Subnet Calculato. Get instant CIDR notation, network masks, and host ranges for your cloud and traditional networks with our easy-to-use networking tool.
    </P>


  </div>
</main>

<section id="calculator" class="container mx-auto px-4 py-8">
  <SubnetCalculator />
</section>

